In [1]:
#Scrape the odds.
#Put them in a dataframe
#Save it

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
import pandas as pd
from dateutil.parser import parse

In [3]:
html=open('data/odds-scrape/2018-1.html')  #https://www.oddsportal.com/esports/usa/overwatch-overwatch-league-2018/results/
bs=BeautifulSoup(html, 'html.parser')

In [4]:
def is_date(string, fuzzy=False):
    """
    Return whether the string can be interpreted as a date.

    :param string: str, string to check for date
    :param fuzzy: bool, ignore unknown tokens in string if True
    """
    try: 
        parse(string, fuzzy=fuzzy)
        return True

    except ValueError:
        return False

In [5]:
all_elements = bs.find_all()

In [6]:
column_names = []

df = pd.DataFrame(columns=column_names)

In [7]:
d = ''
t1 = ''
t2 = ''
t1_odds = ''
t2_odds = ''

In [8]:
for e in all_elements:
    if e.name == 'th':
        #print(e.get('class'))
        if e.get('class') == ['first2', 'tl']:
            #print(e.get_text())
            possible_date = e.get_text()[0:11]
            #print(f"{possible_date}: {is_date(possible_date)}")
            if (is_date(possible_date)):
                d=possible_date
    elif e.name == 'td':
        if e.get('class') == ['name', 'table-participant']:
            #print(e.get_text())
            teams = [x.strip() for x in e.get_text().split('-')]
            #print(f"team one: {teams[0]} team two: {teams[1]}")
            t1 = teams[0]
            t2 = teams[1]
    elif e.name == 'a':
        #print(e.get('xparam'))
        if e.get('xparam') == 'odds_text':
            if t1_odds == '':
                
                t1_odds = e.get_text()
            elif t2_odds == "":
                t2_odds = e.get_text()
                a_row = pd.Series([d, t1, t2, t1_odds, t2_odds])
                row_df = pd.DataFrame([a_row])
                df = pd.concat([df, row_df])
                t1 = ''
                t2 = ''
                t1_odds = ''
                t2_odds = ''

In [9]:
display(df)

             0                       1                       2      3      4
0  28 Jul 2018     Philadelphia Fusion         London Spitfire   +300   -455
0  21 Jul 2018     Los Angeles Valiant         London Spitfire   -120   -167
0  19 Jul 2018     Los Angeles Valiant         London Spitfire   -222   +156
0  19 Jul 2018      New York Excelsior     Philadelphia Fusion   -323   +242
0  14 Jul 2018  Los Angeles Gladiators         London Spitfire   -256   +184
0  14 Jul 2018         Boston Uprising     Philadelphia Fusion   -152   +110
0  14 Jul 2018         Boston Uprising     Philadelphia Fusion   +120   -161
0  12 Jul 2018  Los Angeles Gladiators         London Spitfire   -135   +106
0  12 Jul 2018         Boston Uprising     Philadelphia Fusion   -125   -102
0  18 Jun 2018     Los Angeles Valiant      New York Excelsior   +138   -189
0  17 Jun 2018             Dallas Fuel      New York Excelsior   +467  -1000
0  17 Jun 2018     Los Angeles Valiant  Los Angeles Gladiators   +100   -128
0  16 Jun 2018             Dallas Fuel     Los Angeles Valiant   +384   -556
0  16 Jun 2018  Los Angeles Gladiators           Seoul Dynasty   -385   +275
0  15 Jun 2018         Houston Outlaws      New York Excelsior   +168   -227
0  15 Jun 2018      New York Excelsior         Boston Uprising   -833   +438
0  15 Jun 2018          Florida Mayhem         London Spitfire  +1131  -2000
0  14 Jun 2018         Houston Outlaws     Philadelphia Fusion   +199   -270
0  14 Jun 2018           Seoul Dynasty             Dallas Fuel   -128   +159
0  14 Jun 2018     Los Angeles Valiant     San Francisco Shock   -312   +238
0  13 Jun 2018  Los Angeles Gladiators        Shanghai Dragons  -3333  +1169
0  09 Jun 2018     Philadelphia Fusion           Seoul Dynasty   -263   +202
0  09 Jun 2018          Florida Mayhem             Dallas Fuel   +252   -303
0  08 Jun 2018         Boston Uprising        Shanghai Dragons  -1000   +534
0  08 Jun 2018     San Francisco Shock     Philadelphia Fusion   -227   +168
0  08 Jun 2018  Los Angeles Gladiators      New York Excelsior   +700  -1667
0  07 Jun 2018     Los Angeles Valiant         London Spitfire   -200   +150
0  07 Jun 2018             Dallas Fuel         Houston Outlaws   -123   -106
0  07 Jun 2018        Shanghai Dragons          Florida Mayhem   +269   -370
0  06 Jun 2018           Seoul Dynasty         Boston Uprising   -185   +143
0  02 Jun 2018         London Spitfire             Dallas Fuel   -263   +195
0  02 Jun 2018         Boston Uprising     San Francisco Shock   +218   -294
0  02 Jun 2018          Florida Mayhem           Seoul Dynasty   +261   -357
0  01 Jun 2018         Houston Outlaws        Shanghai Dragons  -1667   +707
0  01 Jun 2018     Philadelphia Fusion  Los Angeles Gladiators   +135   -179
0  01 Jun 2018     San Francisco Shock             Dallas Fuel   -161   +123
0  31 May 2018         London Spitfire         Boston Uprising   -217   +165
0  31 May 2018     Los Angeles Valiant  Los Angeles Gladiators   +181   -238
0  31 May 2018           Seoul Dynasty        Shanghai Dragons  -1000   +526
0  30 May 2018      New York Excelsior     Philadelphia Fusion   -625   +379
0  27 May 2018             Dallas Fuel     Philadelphia Fusion   +299   -385
0  26 May 2018        Shanghai Dragons      New York Excelsior  +1250  -3333
0  26 May 2018           Seoul Dynasty         London Spitfire   +281   -400
0  26 May 2018     San Francisco Shock         Houston Outlaws   +168   -182
0  26 May 2018      New York Excelsior           Seoul Dynasty  -1111   +543
0  25 May 2018     Los Angeles Valiant         Boston Uprising   -455   +308
0  24 May 2018         Houston Outlaws  Los Angeles Gladiators   -149   +114
0  24 May 2018          Florida Mayhem     Los Angeles Valiant   +403   -455
0  23 May 2018         Boston Uprising             Dallas Fuel   -667   +470

In [10]:
df.shape

(49, 5)

In [13]:
#df.to_csv('fight-odds.csv')

In [15]:
with open('fight-odds.csv', 'a', newline='') as f:
    df.to_csv(f, header=False)